@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body {
  margin: 0;
  padding: 100px 0 0;
  font-family: Inconsolata, serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}
